<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>447028541675-fv5c21ch0ij6m72u2arnernbqf2djgal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447028541675-fv5c21ch0ij6m72u2arnernbqf2djgal</string>
	<key>API_KEY</key>
	<string>AIzaSyCg1XzSjecyyWmH-zztiLv_r6cq3NNBpN0</string>
	<key>GCM_SENDER_ID</key>
	<string>447028541675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.NativeScriptMobileClientTDOT</string>
	<key>PROJECT_ID</key>
	<string>smartway-mobile-1512405241266</string>
	<key>STORAGE_BUCKET</key>
	<string>smartway-mobile-1512405241266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447028541675:ios:1079591ac87215f3</string>
	<key>DATABASE_URL</key>
	<string>https://smartway-mobile-1512405241266.firebaseio.com</string>
</dict>
</plist>