<!--
This is the component view that represents the 'Browse' tab.
Feel free to customize layouts and components to change how the tab view looks.
-->
<!-- <TextField hint="Start Address" [(ngModel)]='model.start'></TextField>
    <TextField hint="Destination Address" [(ngModel)]='model.end'></TextField>
    <TimePicker (loaded)="onStartTimeLoaded($event)" verticalAlignment="center" class="m-15"></TimePicker>
    <TimePicker (loaded)="onEndTimeLoaded($event)" verticalAlignment="center" class="m-15"></TimePicker> -->


<StackLayout>
    <Label text='Count the days between the dates' class="m-15 h2" textWrap="true"></Label>

    <Label [text]='startTime | date:"hh:mm tt"' class="m-15" textWrap="true"></Label>
    <Button class="btn btn-primary btn-active" text="Enter Start Time" (tap)="getStartTime()"></Button>

    <Label [text]='endTime | date:"hh:mm tt"' class="m-15" textWrap="true"></Label>
    <Button class="btn btn-primary btn-active" text="Enter End Time" (tap)="getEndTime()"></Button>
</StackLayout>