<StackLayout>
    <Label text="Create Route" class="h1" textWrap="true"></Label>
    <TextField hint="Route Name" [(ngModel)]="model.name"></TextField>
    <TextField hint="Start Address" [(ngModel)]="model.startAddress"></TextField>
    <TextField hint="Destination Address" [(ngModel)]="model.endAddress"></TextField>

    <Button class="btn btn-outline" text="Enter Start Time" (tap)="getStartTime()"></Button>

    <Button class="btn btn-outline" text="Enter End Time" (tap)="getEndTime()"></Button>
    <Button text="Create Route" class="btn btn-primary" (tap)="createRoute()"></Button>
</StackLayout>