<GridLayout rows="40, auto">
  <StackLayout row="0">
    <Button class="btn" text="Create Route" [nsRouterLink]="['/tabs/routes/create']"></Button>
  </StackLayout>
  <ListView textWrap="true" [items]="routes" (itemTap)="onItemTap($event)" class="list-group" row="1">
    <ng-template tkListItemTemplate let-item="item">
      <StackLayout orientation="vertical" class="route-item">
        <Label paddingLeft="15" paddingTop="5" class="nameLabel" [text]="item.name"></Label>
        <Label paddingLeft="15" class="h5 address" [text]="'From: ' + item.startAddress"></Label>
        <Label paddingLeft="15" class="h5 address" [text]="'To: ' + item.startAddress"></Label>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>